<p>Edition d'une facture</p>
<table class="table">
    <thead class=" text-primary">
        <th>
            idFacture
        </th>
        <th>
            dateEdition
        </th>
        <th>
            payee
        </th>
        <th>
            consultation
        </th>
       
        
        
       
 
 
    </thead>
    <tbody>
        <tr *ngFor="let clt of lstFac">
            <td>{{clt.idFacture}}</td>
            <td>{{clt.dateEdition}}</td>
            <td>{{clt.payee}}</td>
            <td>{{clt.consultation.idConsultation}}</td>
            
        </tr>
    </tbody>
</table>



<br>






 <div class="main-content">
    <div class="container-fluid">
        <div class="card">
            <div class="card-header card-header-danger">
                <h1 class="card-title"></h1>

            </div>
            <div class="card-body">
                <div class="container">

                    <form [formGroup]="myForm">

                        <div class="form-group">
                            <label for="alterEgo">idFacture</label>
                            <input type="number" [(ngModel)]="fac.idFacture" class="form-control"
                                formControlName="idFacture" />
                            <div *ngIf="myForm.get('idFacture').hasError('required')">
                            rentre l'id stp
                            </div>

                        </div>
                        <div class="form-group">
                            <label for="alterEgo">dateEdition</label>
                            <input [(ngModel)]="fac.dateEdition" class="form-control" formControlName="dateEdition" />
                            <div *ngIf="myForm.get('dateEdition').hasError('required')">
                               rentre le nom stp
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="alterEgo">Consultation associée à la facture</label>
                            <select [(ngModel)]="cons" class="form-control" formControlName="lecons">

                                <option *ngFor="let clt of lstCons" [ngValue]="clt">{{clt.idConsultation}}</option>
                        </select>

                        </div>
                        
                        
                        

                        
                              


                       

                        
            


                        <button *ngIf="!myForm.get('idFacture').hasError('required')" class="btn btn-success" type="button" (click)="ajout()">Editer</button>
                        <button *ngIf="!myForm.get('idFacture').hasError('required')" class="btn btn-success" type="button" (click)="suppression()">Suppression</button>
                        
                      
                       

                    </form>
