<p>portailcollab works!</p>


Gestion des consultations : éditer une facture, délivrer une prescription


<a href="http://localhost:4200/consultation"><input type="button" value="Edition d'une consultation"></a>
<a href="http://localhost:4200/facture"><input type="button" value="Edition d'une facture"></a>
<a href="http://localhost:4200/acqu_facture"><input type="button" value="Acquittement d'une facture"></a>
<a href="http://localhost:4200/prescription"><input type="button" value="Edition d'une prescription"></a>
<a href="http://localhost:4200/creneau"><input type="button" value="Gérer les créneaux de rendez-vous"></a>

<router-outlet></router-outlet>

